@page "/parentcomponent"

<h1 class="text-danger">ParentComponent</h1>

<BlazorApp1.Pages.Components.ChildComponent 
    OnClickMethod="@ShowMessage"
    Title="Title is passed from Parent">
    This content is passed from parent.
</BlazorApp1.Pages.Components.ChildComponent>

<p><b>@messageText</b></p>

@code {
    private string messageText;

    private void ShowMessage(MouseEventArgs e)
    {
        messageText = $"Text from parent.{e.ClientX}";
    }
}
